.image-grid {
    color: rgb(33, 25, 34);
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    

}

.fs-2 {
    font-size: 2.5rem !important;
}

.fs-1 {
    font-size: 1rem !important;
}

.fit {
    height: inherit;
    width: inherit;
}

.text-over {
    position: absolute;
    top: 70%;
    left: 20%;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica;
    font-weight: 500;
    transform: translate(-20%, -70%);
}

.image-1 {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 12px;
    width: 400px;
    height: 420px;
}

.image-2 {
    position: absolute;
    top: 0px;
    left: 464px;
    width: 223px;
    height: 235px;

}

.image-3 {
    position: absolute;
    top: 250px;
    left: 447px;
    width: 165px;
    height: 173px;

}

.image-4 {
    position: absolute;
    top: 450px;
    left: 429px;
    width: 223px;
    height: 235px;
}

.image-5 {
    position: absolute;
    top: 440px;
    left: 159px;
    width: 223px;
    height: 235px;
}

.out-box {
    /* color: rgb(33, 25, 34); */
    /* text-decoration: none; */
    position: absolute;
    top: 10%;
    /* left: 10px; */
}

.wrap-around {
    position: absolute;
}


.heading {

    font-weight: 600;
    font-size: 4rem;
    text-align: center;
}

.desc {

    text-align: center;
    font-size: x-large;
    max-width: 400px;
    align-self: center;
    justify-content: center;
    margin-block: 2rem;

}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.left {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.side-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50%;
}

.explore {
    display: flex;
    height: 48px;
    width: 12rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    border-radius: 10rem;
    justify-content: center;
    align-items: center;
}

.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
    background-color: white;
    border-radius: 3rem;
    max-width: 70%;

}